@page "/"
@inject FirebaseAuthService Auth

<h1>Welcome to DndGame</h1>

@if (currentUser is not null)
{
    <p>Logged in as @currentUser.Uid</p>
}
else
{
    <p><NavLink href="login">Login</NavLink></p>
}

@code {
    private FirebaseUser? currentUser;

    protected override async Task OnInitializedAsync()
    {
        currentUser = await Auth.GetCurrentUser();
    }
}
