@page "/login"
@inject FirebaseAuthService Auth
@inject NavigationManager Navigation
@inject ApiServices ApiServices

<h3>Login</h3>

<input @bind="email" placeholder="Email" />
<input @bind="password" type="password" placeholder="Password" />
<button @onclick="HandleLogin">Login</button>

@code {
    private string email = string.Empty;
    private string password = string.Empty;
    private string? userId;

    protected override async Task OnInitializedAsync()
    {
        userId = await Auth.GetCurrentUser();
        if (!string.IsNullOrEmpty(userId))
        {
            var user = await ApiServices.GetUserAsync(userId, email);
            if (user.needsCharacterCreation == null)
            {
                Navigation.NavigateTo("/");
            }
            else {Navigation.NavigateTo("/"); }
            //Navigation.NavigateTo("/");
        }
    }

    private async Task HandleLogin()
    {
        userId = await Auth.SignInWithEmailPassword(email, password);
        if (!string.IsNullOrEmpty(userId))
        {
            var user = await ApiServices.GetUserAsync(userId, email);
            Navigation.NavigateTo("/");
        }
    }
}
